
body{

    --light-blue: #95caff;
    --dark-blue: #75aaff;

    --light-red: #ff6677;
    --dark-red: #ff2244;

    --white: #f5f5ff;
    --very-light-gray: #aaaaae;
    --light-gray: #4B4F58;
    --dark-gray: #3B3F48;

    --primary:  var(--white);
    --secondary: var(--dark-gray);

    background-color: var(--secondary);
    color: var(--primary);
    font-family: Raleway Light;
}

h1{
    margin: 30px;
    font-family: Raleway Light;
    letter-spacing: 7px;
}

@font-face {
    font-family: "Raleway Light";
    src: url("./fonts/Raleway-Light.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Regular.ttf");
}


@font-face {
    font-family: "Raleway Light Italic";
    src: url("./fonts/Raleway-LightItalic.ttf");
}

@font-face {
    font-family: "Raleway Bold";
    src: url("./fonts/Raleway-Bold.ttf");
}

@font-face {
    font-family: "Raleway Bold Italic";
    src: url("./fonts/Raleway-BoldItalic.ttf");
}

@font-face {
    font-family: "Raleway Black";
    src: url("./fonts/Raleway-Black.ttf");
}

@font-face {
    font-family: "Raleway Black Italic";
    src: url("./fonts/Raleway-BlackItalic.ttf");
}

@font-face {
    font-family: "Raleway Medium";
    src: url("./fonts/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway Medium Italic";
    src: url("./fonts/Raleway-MediumItalic.ttf");
}

@font-face {
    font-family: "Raleway Regular";
    src: url("./fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway Italic";
    src: url("./fonts/Raleway-Italic.ttf");
}
